<main class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h1 class="card-title">
        {{story.title}}
      </h1>
      <small>{{story.author.username}} fecha:{{date story.createdAt}}</small>

      <p class="mt-2">{{story.text}}</p>
    </div>
  </div>
</main>