<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Historias Solitarias</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

    {{!<!-- FONTAWESOME -->
	<link rel="stylesheet" href="/css/all.css">
	<!-- CUSTOM CSS -->
	 }}
  </head>
  <body>
    {{>navbar}}
    {{{body}}}

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>